.ng-grid {
    display: flex;
    flex-wrap: wrap;
    margin-left: -$gutter;
    margin-right: -$gutter;
    > [class^='col-'] {
        padding-left: $gutter;
        padding-right: $gutter;
        flex: 0 0 100%;
        width: 100%;
    }
    @mixin spacing($pref: '') {
        @for $i from 1 through 12 {
            .col-#{$pref}#{$i} {
                flex: 0 0 (100% * $i / 12);
                max-width: (100% * $i / 12);
            }
        }
    }
    @include spacing();
    @each $name, $size in $breakpoints {
        @media screen and (min-width: $size) {
            @include spacing($name);
        }
    }
}
